.cart-section {
    padding-top: var(--u-60);
  }
  
  .card-action-btn {
    width: 99%;
  }
  .card-action-btn-outline {
    width: 99%;
  }
  
  .card-img-div > img {
    height: 95%;
  }
  
  .checkout {
    background-color: var(--color-light);
    width: 30rem;
    padding: var(--u-20);
    box-shadow: var(--normal-shadow);
  }
  .total {
    font-size: var(--text-xl);
    font-weight: 600;
  }
  
  .btn {
    width: 100%;
  }
  
  .primary-filled-btn {
    background-color: var(--color-dark);
  }
  .primary-filled-btn:hover {
    background-color: var(--color-dark-tint);
  }
  .primary-outlined-btn {
    border: var(--u-1) solid var(--color-dark);
    color: var(--color-dark);
  }
  
  .card-action-btn {
    background-color: var(--color-secondary);
    color: var(--color-dark);
  }
  .card-action-btn:hover {
    background-color: var(--color-secondary-shade);
  }
  .card-action-btn-outline {
    border: var(--u-1) solid var(--color-dark);
    color: var(--color-dark);
  }
  
  @media screen and (max-width: 600px) {
    section {
      padding-top: 160px;
    }
  }
  
  @media screen and (max-width: 500px) {
    section {
      padding-top: 160px;
    }
    .checkout {
      width: 100%;
    }
  }