* {
    font-family: var(--primary-font);
  }
  
  /* Heading */
  h6 {
    padding-left: var(--u-14);
    font-weight: 400;
    cursor: pointer;
  }
  
  /* Navbar */
  nav {
    position: fixed;
    background-color: var(--color-tertiary);
    padding: var(--u-10) var(--u-10);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 3;
  }
  
  .nav-ham {
    display: none;
  }
  
  ul > a {
    padding: 0 var(--u-10);
    cursor: pointer;
  }
  
  /* Search icon */
  .searchDiv i {
    position: absolute;
  }
  
  .searchDiv {
    width: 25%;
  }
  
  .searchIcon {
    margin-left: -25px;
    margin-top: var(--u-8);
    color: var(--color-dark);
  }
  
  .searchInput {
    width: 100%;
    padding: var(--u-6);
    text-align: center;
    border: var(--u-1) solid var(--color-secondary);
    border-radius: var(--rounded-md);
    outline: none;
  }
  
  .active-link {
    text-decoration: underline;
    /* background-color: red; */
  }
  
  .active-icon-link {
    background-color: var(--color-secondary);
    padding: 6px 10px;
    border-radius: 50%;
  }
  
  .pages-title {
    font-size: var(--text-xs);
    font-weight: 500;
    display: none;
  }
  
  /* Media queries for mobile screens */
  /* @media screen and (max-width: 430px) { */
  @media screen and (max-width: 600px) {
    .pages {
      display: flex;
      justify-content: center;
      margin-top: var(--u-6);
    }
    .branding {
      display: flex;
      justify-content: center;
      margin-bottom: var(--u-6);
    }
    .nav-ham {
      display: block;
    }
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .navbar > * {
      width: 100%;
    }
    .pages-title {
      display: flex;
      font-size: var(--text-xs);
    }
    i {
      font-size: var(--text-xs);
    }
    .item:first-child {
      margin-top: var(--u-80);
    }
  }
  
  .responsive-nav {
    display: none;
  }