main {
    .main-home {
      display: flex;
      flex-wrap: wrap;
      padding-top: 55px;
      background-color: transparent !important;
      justify-content: center;
    }
    
    .backdrop {
      background: url("../assets/images/shop-bg/sneaker-stacked.jpg");
      background-size: cover;
      height: 90vh;
      width: 96vw;
    }
    
    .backdrop-tint {
      background-color: rgba(0, 0, 0, 0.62);
      backdrop-filter: blur(2.75px);
      color: white;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: 0.3s ease-in-out;
    }
    
    .backdrop-tint:hover {
      backdrop-filter: blur(1px);
    }
    
    .hero-bg {
      width: 100%;
      height: 100%;
      border: var(--u-1) solid var(--color-dark);
    }
    
    .hero-text {
      background-color: white;
      color: red;
      margin-top: -400px;
    }
    
    .cta-header {
      padding: 0 var(--u-10);
    }
    
    .cta-btn {
      border: none;
      background-color: var(--color-light);
      padding: var(--u-10) var(--u-14);
      font-size: var(--text-md);
      font-weight: bold;
      cursor: pointer;
    }
    
    .cta-btn:active {
      transform: scale(0.98);
    }
    
    .cta-brand {
      color: var(--color-dark);
      margin: var(--u-10);
      padding: var(--u-10);
      display: flex;
      flex-direction: column;
      border: none;
      background-color: var(--color-light);
      padding: var(--u-20) var(--u-16);
      height: 220px;
      width: 200px;
      justify-content: center;
      align-items: center;
      font-size: var(--text-xl);
      font-weight: bold;
      transition: 0.1s ease-in-out;
      cursor: pointer;
    }
    
    .cta-brand:hover {
      transform: scale(1.05);
    }
    
    .brand-logo {
      height: 150px;
      width: 150px;
    }
    
    .categories-container {
      margin-top: 10px;
      background: url("../assets/images/shop-bg/sneaker-illustration.jpg");
      height: 90vh;
      width: 96vw;
      color: var(--color-light);
    }
    
    .brands {
      background-color: rgba(2, 2, 2, 0.575);
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
    
    .item {
    @@ -50,3 +147,20 @@ main {
        height: 300px;
      }
    }
    
    @media screen and (max-width: 600px) {
      .item {
        height: 300px;
      }
      .homepage-section {
        flex-direction: column;
      }
      .cta-brand {
        width: 120px;
        height: 150px;
      }
      .brand-logo {
        height: 80px;
        width: 80px;
      }
    }