main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 55px;
  }
  
  .item {
    border: var(--u-1) solid var(--color-secondary);
    width: 450px;
    height: 460px;
    /* height: 48vh; */
    /* height: 350px; */
    min-width: 460px;
    flex-grow: 1;
    background-color: var(--color-light);
    overflow: hidden;
    cursor: pointer;
  }
  
  .item img {
    height: 100%;
    width: 100%;
    transition: var(--normal-transition);
  }
  
  .item img:hover {
    transform: scale(1.15);
  }
  
  @media screen and (max-width: 420px) {
    .item {
      height: 300px;
    }
  }